/** * If you are developing a project that makes use of Dijit widgets,
you will probably want to include the two files * below; otherwise,
you can remove them. When building for release, Dojo will
automatically combine all of your * @imported CSS files into a single
file.
 *
 * It is highly, highly recommended that you develop your CSS using
 *Stylus: http://learnboost.github.com/stylus/.  */
@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';

.rotate-clockwise {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.rotate-cclockwise {
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* Internet Explorer */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}
#header {
    position: absolute; 
    left: 150px; 
    top: 10px; 
    font-size: 20; 
    font-weight: bold;
}
#metadata {
    position: absolute; 
    left: 250px; 
    top: 10px; 
    font-size: 15; 
}
#position {
    position: absolute; 
    left: 250px; 
    top: 30px; 
    font-size: 15; 
}
#spec-ylabel {
    position: absolute; 
    left: 60; 
    top: 675; 
    font-size: 12; 
}
#left-sidebar {
    position: absolute; 
    top: 250px; 
    left: -20px;
    font-size: 20;
    color: grey;
}
#timeseries {
    position: absolute;
    left: 580px;
    top: 200px;
    width: 500px;
    height: 200px;
    border:0px solid purple; 
}
#spectra {
    position: absolute;
    left: 140px;
    top: 580px;
    width: 522px;
    height: 200px;
    border:0px solid green;
}
canvas {
    position: absolute;
    left: 150px;
}
span {
    color: grey;
}
input[id=^bank] {
    disable: true;
    type: radio;
}
#controls {
    position: absolute;
    left: 950px;
    top: 20px;
}
#waterfall1 {
    top: -490px;
}
#waterfall2 {
    top: 60px;
}
#axis {
    top: 60px;
    z-index: 1;
    border: 1px solid #000000;
}
.checkbox-grid input {
    display: block;
    float: right;
}
